<!-- Top News Start-->
<div class="top-news">
    <div class="container">
        <div class="row">
            <div class="col-md-6 tn-left">
                <div class="row">
                    <div class="col-md-12">
                        <div class="tn-img">
                            <img src="img/news-450x350-1.jpg" />
                            <div class="tn-title">
                                <a href="/post">Lorem ipsum dolor sit amet</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 tn-right">
                <div class="row">
                    <div class="col-md-6">
                        <div class="tn-img">
                            <img src="img/news-350x223-1.jpg" />
                            <div class="tn-title">
                                <a href="/post">Lorem ipsum dolor sit</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="tn-img">
                            <img src="img/news-350x223-2.jpg" />
                            <div class="tn-title">
                                <a href="/post">Lorem ipsum dolor sit</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="tn-img">
                            <img src="img/news-350x223-3.jpg" />
                            <div class="tn-title">
                                <a href="">Lorem ipsum dolor sit</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="tn-img">
                            <img src="img/news-350x223-4.jpg" />
                            <div class="tn-title">
                                <a href="/post">Lorem ipsum dolor sit</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Top News End-->

<!-- Category News Start-->
<div class="cat-news">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Sports</h2>
                <div class="row">
                    <div class="col-md-6">
                        <div class="cn-img">
                            <img src="img/janosch-diggelmann-i8XiabUW3mw-unsplash.jpg" />
                            <div class="cn-title">
                                <a href="/post">Lorem ipsum dolor sit</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="cn-img">
                            <img src="/img/nathanael-desmeules-xVpsBaCNy-Q-unsplash.jpg" />
                            <div class="cn-title">
                                <a href="/post">Lorem ipsum dolor sit</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h2>Technology</h2>
                <div class="row">
                    <div class="col-md-6">
                        <div class="cn-img">
                            <img src="/img/ales-nesetril-Im7lZjxeLhg-unsplash.jpg" />
                            <div class="cn-title">
                                <a href="/post">Lorem ipsum dolor sit</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="cn-img">
                            <img src="/img/alex-knight-2EJCSULRwC8-unsplash.jpg" />
                            <div class="cn-title">
                                <a href="/post">Lorem ipsum dolor sit</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="cat-news">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Business</h2>
                <div class="row">
                    <div class="col-md-6">
                        <div class="cn-img">
                            <img src="/img/microsoft-365-MFK0JpFU13U-unsplash.jpg" />
                            <div class="cn-title">
                                <a href="/post">Lorem ipsum dolor sit</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="cn-img">
                            <img src="/img/microsoft-365-TLiWhlDEJwA-unsplash.jpg" />
                            <div class="cn-title">
                                <a href="/post">Lorem ipsum dolor sit</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h2>Entertainment</h2>
                <div class="row">
                    <div class="col-md-6">
                        <div class="cn-img">
                            <img src="/img/matty-adame-nLUb9GThIcg-unsplash.jpg" />
                            <div class="cn-title">
                                <a href="/post">Lorem ipsum dolor sit</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="cn-img">
                            <img src="/img/jonas-von-werne-8VcWVVsrPBk-unsplash.jpg" />
                            <div class="cn-title">
                                <a href="/post">Lorem ipsum dolor sit</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Category News End-->

<!-- Tab News Start-->
<div class="tab-news">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <ul class="nav nav-pills nav-justified">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="pill" href="#featured">Featured News</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="#popular">Popular News</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="#latest">Latest News</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div id="featured" class="container tab-pane active">
                        <div class="tn-news">
                            <div class="tn-img">
                                <img src="/img/yash-jeebaun-o_8LV06JioI-unsplash.jpg" />
                            </div>
                            <div class="tn-title">
                                <a href="/post">Lorem ipsum dolor sit amet</a>
                            </div>
                        </div>
                        <div class="tn-news">
                            <div class="tn-img">
                                <img src="/img/stephen-crane-vPbFwkVIvCA-unsplash.jpg" />
                            </div>
                            <div class="tn-title">
                                <a href="/post">Lorem ipsum dolor sit amet</a>
                            </div>
                        </div>
                        <div class="tn-news">
                            <div class="tn-img">
                                <img src="img/news-350x223-3.jpg" />
                            </div>
                            <div class="tn-title">
                                <a href="/post">Lorem ipsum dolor sit amet</a>
                            </div>
                        </div>
                    </div>
                    <div id="popular" class="container tab-pane fade">
                        <div class="tn-news">
                            <div class="tn-img">
                                <img src="img/news-350x223-4.jpg" />
                            </div>
                            <div class="tn-title">
                                <a href="/post">Lorem ipsum dolor sit amet</a>
                            </div>
                        </div>
                        <div class="tn-news">
                            <div class="tn-img">
                                <img src="/img/christina-wocintechchat-com-glRqyWJgUeY-unsplash.jpg" />
                            </div>
                            <div class="tn-title">
                                <a href="/post">Lorem ipsum dolor sit amet</a>
                            </div>
                        </div>
                        <div class="tn-news">
                            <div class="tn-img">
                                <img src="img/news-350x223-1.jpg" />
                            </div>
                            <div class="tn-title">
                                <a href="/post">Lorem ipsum dolor sit amet</a>
                            </div>
                        </div>
                    </div>
                    <div id="latest" class="container tab-pane fade">
                        <div class="tn-news">
                            <div class="tn-img">
                                <img src="/img/thisisengineering-raeng-ZPeXrWxOjRQ-unsplash.jpg" />
                            </div>
                            <div class="tn-title">
                                <a href="/post">Lorem ipsum dolor sit amet</a>
                            </div>
                        </div>
                        <div class="tn-news">
                            <div class="tn-img">
                                <img src="img/news-350x223-3.jpg" />
                            </div>
                            <div class="tn-title">
                                <a href="/post">Lorem ipsum dolor sit amet</a>
                            </div>
                        </div>
                        <div class="tn-news">
                            <div class="tn-img">
                                <img src="img/news-350x223-4.jpg" />
                            </div>
                            <div class="tn-title">
                                <a href="/post">Lorem ipsum dolor sit amet</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6">
                <ul class="nav nav-pills nav-justified">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="pill" href="#m-viewed">Most Viewed</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="#m-read">Most Read</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="#m-recent">Most Recent</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div id="m-viewed" class="container tab-pane active">
                        <div class="tn-news">
                            <div class="tn-img">
                                <img src="img/news-350x223-5.jpg" />
                            </div>
                            <div class="tn-title">
                                <a href="/post">Lorem ipsum dolor sit amet</a>
                            </div>
                        </div>
                        <div class="tn-news">
                            <div class="tn-img">
                                <img src="/img/microsoft-365-oUbzU87d1Gc-unsplash.jpg" />
                            </div>
                            <div class="tn-title">
                                <a href="/post">Lorem ipsum dolor sit amet</a>
                            </div>
                        </div>
                        <div class="tn-news">
                            <div class="tn-img">
                                <img src="/img/microsoft-edge-z51MPaW5VfM-unsplash.jpg" />
                            </div>
                            <div class="tn-title">
                                <a href="/post">Lorem ipsum dolor sit amet</a>
                            </div>
                        </div>
                    </div>
                    <div id="m-read" class="container tab-pane fade">
                        <div class="tn-news">
                            <div class="tn-img">
                                <img src="img/news-350x223-2.jpg" />
                            </div>
                            <div class="tn-title">
                                <a href="/post">Lorem ipsum dolor sit amet</a>
                            </div>
                        </div>
                        <div class="tn-news">
                            <div class="tn-img">
                                <img src="img/news-350x223-1.jpg" />
                            </div>
                            <div class="tn-title">
                                <a href="/post">Lorem ipsum dolor sit amet</a>
                            </div>
                        </div>
                        <div class="tn-news">
                            <div class="tn-img">
                                <img src="/img/danny-howe-Hq9BwndSFAY-unsplash.jpg" />
                            </div>
                            <div class="tn-title">
                                <a href="/post">Lorem ipsum dolor sit amet</a>
                            </div>
                        </div>
                    </div>
                    <div id="m-recent" class="container tab-pane fade">
                        <div class="tn-news">
                            <div class="tn-img">
                                <img src="img/news-350x223-4.jpg" />
                            </div>
                            <div class="tn-title">
                                <a href="/post">Lorem ipsum dolor sit amet</a>
                            </div>
                        </div>
                        <div class="tn-news">
                            <div class="tn-img">
                                <img src="/img/yvette-de-wit-8XLapfNMW04-unsplash.jpg" />
                            </div>
                            <div class="tn-title">
                                <a href="/post">Lorem ipsum dolor sit amet</a>
                            </div>
                        </div>
                        <div class="tn-news">
                            <div class="tn-img">
                                <img src="img/news-350x223-1.jpg" />
                            </div>
                            <div class="tn-title">
                                <a href="/post">Lorem ipsum dolor sit amet</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Tab News Start-->
