<!-- Top News Start-->
<div class="top-news">
    <div class="container">
        <div class="row">
            <div class="col-md-6 tn-left">
                <div class="row">
                    <div class="col-md-12">
                        <div class="tn-img">
                            <img src="img/news-450x350-1.jpg" />
                            <div class="tn-title">
                                <a href="/post">10 Proven Tips for Stress Management</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 tn-right">
                <div class="row">
                    <div class="col-md-6">
                        <div class="tn-img">
                            <img src="img/news-350x223-1.jpg" />
                            <div class="tn-title">
                                <a href="/post">The Ultimate Guide to Sustainable Living: 10 Steps to Eco-Friendly Living</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="tn-img">
                            <img src="img/news-350x223-2.jpg" />
                            <div class="tn-title">
                                <a href="/post">Unlocking the Power of Positive Affirmations: 10 Affirmations for Daily Success</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="tn-img">
                            <img src="img/news-350x223-3.jpg" />
                            <div class="tn-title">
                                <a href="">The Art of Productive Procrastination: 10 Tasks to Do When You're Avoiding Work</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="tn-img">
                            <img src="img/news-350x223-4.jpg" />
                            <div class="tn-title">
                                <a href="/post">10 Delicious and Nutritious Smoothie Recipes for a Healthier You</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Top News End-->

<!-- Category News Start-->
<div class="cat-news">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Sports</h2>
                <div class="row">
                    <div class="col-md-6">
                        <div class="cn-img">
                            <img src="img/janosch-diggelmann-i8XiabUW3mw-unsplash.jpg" />
                            <div class="cn-title">
                                <a href="/post">The Science of Happiness: 10 Habits for a More Joyful Life</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="cn-img">
                            <img src="/img/nathanael-desmeules-xVpsBaCNy-Q-unsplash.jpg" />
                            <div class="cn-title">
                                <a href="/post">10 Must-Visit Hidden Gems for Your Travel Bucket List</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h2>Technology</h2>
                <div class="row">
                    <div class="col-md-6">
                        <div class="cn-img">
                            <img src="/img/ales-nesetril-Im7lZjxeLhg-unsplash.jpg" />
                            <div class="cn-title">
                                <a href="/post">Mastering the Art of Time Management: 10 Strategies for Peak Productivity</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="cn-img">
                            <img src="/img/alex-knight-2EJCSULRwC8-unsplash.jpg" />
                            <div class="cn-title">
                                <a href="/post">10 Ways to Cultivate a Growth Mindset for Personal and Professional Success</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="cat-news">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Business</h2>
                <div class="row">
                    <div class="col-md-6">
                        <div class="cn-img">
                            <img src="/img/microsoft-365-MFK0JpFU13U-unsplash.jpg" />
                            <div class="cn-title">
                                <a href="/post">The Power of Self-Care: 10 Simple Practices for a Healthier You</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="cn-img">
                            <img src="/img/microsoft-365-TLiWhlDEJwA-unsplash.jpg" />
                            <div class="cn-title">
                                <a href="/post">10 Essential Tips for Successful Remote Work</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h2>Entertainment</h2>
                <div class="row">
                    <div class="col-md-6">
                        <div class="cn-img">
                            <img src="/img/matty-adame-nLUb9GThIcg-unsplash.jpg" />
                            <div class="cn-title">
                                <a href="/post">The Art of Mindful Eating: 10 Strategies for Healthier Meals</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="cn-img">
                            <img src="/img/jonas-von-werne-8VcWVVsrPBk-unsplash.jpg" />
                            <div class="cn-title">
                                <a href="/post">10 DIY Home Improvement Projects to Upgrade Your Space</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Category News End-->

<!-- Tab News Start-->
<div class="tab-news">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <ul class="nav nav-pills nav-justified">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="pill" href="#featured">Featured News</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="#popular">Popular News</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="#latest">Latest News</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div id="featured" class="container tab-pane active">
                        <div class="tn-news">
                            <div class="tn-img">
                                <img src="/img/yash-jeebaun-o_8LV06JioI-unsplash.jpg" />
                            </div>
                            <div class="tn-title">
                                <a href="/post">Navigating the Job Market: 10 Tips for Landing Your Dream Job</a>
                            </div>
                        </div>
                        <div class="tn-news">
                            <div class="tn-img">
                                <img src="/img/stephen-crane-vPbFwkVIvCA-unsplash.jpg" />
                            </div>
                            <div class="tn-title">
                                <a href="/post">10 Books Every Bibliophile Must Read in Their Lifetime</a>
                            </div>
                        </div>
                        <div class="tn-news">
                            <div class="tn-img">
                                <img src="img/news-350x223-3.jpg" />
                            </div>
                            <div class="tn-title">
                                <a href="/post">Exploring the World of Digital Marketing: 10 Strategies for Success</a>
                            </div>
                        </div>
                    </div>
                    <div id="popular" class="container tab-pane fade">
                        <div class="tn-news">
                            <div class="tn-img">
                                <img src="img/news-350x223-4.jpg" />
                            </div>
                            <div class="tn-title">
                                <a href="/post">A Journey Through Time: 10 Historical Sites to Visit</a>
                            </div>
                        </div>
                        <div class="tn-news">
                            <div class="tn-img">
                                <img src="/img/christina-wocintechchat-com-glRqyWJgUeY-unsplash.jpg" />
                            </div>
                            <div class="tn-title">
                                <a href="/post">The Art of Effective Communication: 10 Tips for Better Relationships</a>
                            </div>
                        </div>
                        <div class="tn-news">
                            <div class="tn-img">
                                <img src="img/news-350x223-1.jpg" />
                            </div>
                            <div class="tn-title">
                                <a href="/post">The Power of Goal Setting: 10 Steps to Achieving Your Dreams</a>
                            </div>
                        </div>
                    </div>
                    <div id="latest" class="container tab-pane fade">
                        <div class="tn-news">
                            <div class="tn-img">
                                <img src="/img/thisisengineering-raeng-ZPeXrWxOjRQ-unsplash.jpg" />
                            </div>
                            <div class="tn-title">
                                <a href="/post">10 Eco-Friendly Practices for a Greener Planet</a>
                            </div>
                        </div>
                        <div class="tn-news">
                            <div class="tn-img">
                                <img src="img/news-350x223-3.jpg" />
                            </div>
                            <div class="tn-title">
                                <a href="/post">Mastering the Art of Public Speaking: 10 Tips for Confident Presentations</a>
                            </div>
                        </div>
                        <div class="tn-news">
                            <div class="tn-img">
                                <img src="img/news-350x223-4.jpg" />
                            </div>
                            <div class="tn-title">
                                <a href="/post">10 Creative Hobbies to Spark Your Imagination</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6">
                <ul class="nav nav-pills nav-justified">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="pill" href="#m-viewed">Most Viewed</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="#m-read">Most Read</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="#m-recent">Most Recent</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div id="m-viewed" class="container tab-pane active">
                        <div class="tn-news">
                            <div class="tn-img">
                                <img src="img/news-350x223-5.jpg" />
                            </div>
                            <div class="tn-title">
                                <a href="/post">10 Tips for Effective Financial Planning and Wealth Building</a>
                            </div>
                        </div>
                        <div class="tn-news">
                            <div class="tn-img">
                                <img src="/img/microsoft-365-oUbzU87d1Gc-unsplash.jpg" />
                            </div>
                            <div class="tn-title">
                                <a href="/post">The Art of Self-Reflection: 10 Questions for Personal Growth</a>
                            </div>
                        </div>
                        <div class="tn-news">
                            <div class="tn-img">
                                <img src="/img/microsoft-edge-z51MPaW5VfM-unsplash.jpg" />
                            </div>
                            <div class="tn-title">
                                <a href="/post">10 Immune-Boosting Foods to Stay Healthy Year-Round</a>
                            </div>
                        </div>
                    </div>
                    <div id="m-read" class="container tab-pane fade">
                        <div class="tn-news">
                            <div class="tn-img">
                                <img src="img/news-350x223-2.jpg" />
                            </div>
                            <div class="tn-title">
                                <a href="/post">10 Essential Travel Safety Tips for Adventurous Explorers</a>
                            </div>
                        </div>
                        <div class="tn-news">
                            <div class="tn-img">
                                <img src="img/news-350x223-1.jpg" />
                            </div>
                            <div class="tn-title">
                                <a href="/post">The Psychology of Motivation: 10 Strategies to Stay Inspired</a>
                            </div>
                        </div>
                        <div class="tn-news">
                            <div class="tn-img">
                                <img src="/img/danny-howe-Hq9BwndSFAY-unsplash.jpg" />
                            </div>
                            <div class="tn-title">
                                <a href="/post">10 Home-Based Business Ideas for Aspiring Entrepreneurs</a>
                            </div>
                        </div>
                    </div>
                    <div id="m-recent" class="container tab-pane fade">
                        <div class="tn-news">
                            <div class="tn-img">
                                <img src="img/news-350x223-4.jpg" />
                            </div>
                            <div class="tn-title">
                                <a href="/post">The Power of Gratitude: 10 Benefits of a Thankful Mindset</a>
                            </div>
                        </div>
                        <div class="tn-news">
                            <div class="tn-img">
                                <img src="/img/yvette-de-wit-8XLapfNMW04-unsplash.jpg" />
                            </div>
                            <div class="tn-title">
                                <a href="/post">10 Mindfulness Exercises for a Calmer and More Focused You</a>
                            </div>
                        </div>
                        <div class="tn-news">
                            <div class="tn-img">
                                <img src="img/news-350x223-1.jpg" />
                            </div>
                            <div class="tn-title">
                                <a href="/post">10 Proven Tips for Stress Management</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Tab News Start-->
